# PAS Connection params
export PAS_IIS_SERVER_IP=192.168.2.133
export PAS_ADMIN_NAME=Admin1
export PAS_ADMIN_PASSWORD=Cyberark1

# DAP Connection params
export CONJUR_APPLIANCE_URL=https://conjur-master-vbx:30443
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_USERNAME=admin
export CONJUR_ADMIN_PASSWORD=Cyberark1

# Access request record
export ACCESS_REQUEST_JSON_FILE=$PWD/access-request.json
